/*
 * @Author: yejiahao yejiahao@tvt.net.cn
 * @Date: 2024-07-09 18:39:25
 * @Description: UI1-A 主题样式
 */

#n9web {
    --img-login-content: url('@ui/publicStyle/img/LoginContent.png');
    --img-logo: url('@ui/publicStyle/img/appName.png');
    --img-login-btn: url('@ui/publicStyle/img/loginBtn.png');
    --img-motion-note: url('@/views/UI_PUBLIC/publicStyle/img/motionNote.gif');
    --img-loading: url('@ui/publicStyle/img/loading.gif');
    --img-initview: url('@/views/UI_PUBLIC/publicStyle/img/initview.gif');
    --img-favicon: url('@/views/UI_PUBLIC/publicStyle/img/favicon.ico');
}
