/*
 * @Author: yejiahao yejiahao@tvt.net.cn
 * @Date: 2024-09-29 09:12:33
 * @Description: ai与事件版块的一些公共样式，仅在需要用到的ai与事件版块下import
 */

.base-ai-menu-tabs {
    width: 100%;
    margin-top: 10px;

    & > .el-tabs__header {
        .el-tabs__item {
            width: 188px;
            line-height: 35px;
            height: 35px;
            color: var(--main-text);
            border: 1px solid var(--content-border);
            padding: 0 5px;
            text-align: center;
            box-sizing: border-box;

            &:not(:last-child) {
                margin-right: -2px;
            }

            span {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .el-tabs__nav {
            flex-wrap: wrap;
            float: unset;
            // border: 1px solid var(--content-border);
            // width: min-content;
        }

        /* 长分割线 */
        .el-tabs__nav-wrap::after {
            height: 0;

            /* position: static !important; 可以去掉长分割线 */
            // background-color: var(--content-border);
        }

        /* 去掉下划线 */
        .el-tabs__active-bar {
            background-color: transparent;
        }

        .el-tabs__item.is-active {
            color: var(--main-text-active);
            background-color: var(--primary);
        }

        .el-tabs__item:hover {
            color: var(--main-text-active);
            background-color: var(--primary);
        }

        .el-tabs__item.is-disabled {
            background: var(--btn-bg-disabled);
            color: var(--btn-text-disabled);
        }
    }
}

.base-ai-form {
    position: relative;
}

.base-ai-advance-btn {
    position: absolute;
    right: 20px;
    top: 12px;
    cursor: pointer;
    z-index: 1;
}

.base-ai-advance-box {
    background-color: var(--ai-advance-bg);
    padding: 10px;

    .el-checkbox {
        display: block;
    }
}

.base-ai-task-btn {
    position: absolute;
    right: 20px;
    top: 12px;

    span {
        font-size: 20px;
        padding: 0 5px;
        cursor: pointer;

        &.disabled {
            color: var(--main-text-light);
        }
    }
}

.base-ai-tabs {
    & > .el-tabs__header {
        border-bottom: 1px solid var(--content-border);

        .el-tabs__item {
            width: fit-content;
            color: var(--main-text);
            font-size: 15px;
            border: none;
            padding: 0 20px;
        }

        /* 长分割线 */
        .el-tabs__nav-wrap::after {
            position: static; // 可以去掉长分割线
        }

        /* 去掉下划线 */
        .el-tabs__active-bar {
            background-color: transparent;
        }

        .el-tabs__item:nth-child(2) {
            margin-left: 20px;
        }

        /* 鼠标选中时样式 */
        .el-tabs__item.is-active {
            color: var(--primary);
            background-color: transparent;
            border: none;
        }

        /* 鼠标悬浮时样式 */
        .el-tabs__item:hover {
            color: var(--primary);
            cursor: pointer;
            background-color: transparent;
        }
    }

    & > .el-tabs__content {
        padding-bottom: 50px;

        .el-tab-pane {
            position: relative;
            min-height: calc(100vh - 500px);
        }
    }
}

.base-ai-subheading {
    border-left: 3px solid var(--content-border);
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

    &:first-child {
        margin-top: 0;
    }
}

.base-ai-linkage-content {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 15px;
    min-width: 1200px;
}

.base-ai-linkage-title {
    text-align: center;
    font-size: 14px;
    width: 100%;
    height: 34px;
    padding: 0 10px;
    background: var(--ai-linkbox-bg);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    & > span {
        margin-right: 5px;
    }
}

.base-ai-linkage-title-checkbox {
    padding-left: 15px;
    justify-content: flex-start;

    .el-checkbox__label {
        padding-left: 3px;
    }
}

.base-ai-linkage-box {
    width: 250px;
    height: 400px;
    margin-right: 2px;
    border: 1px solid var(--ai-linkbox-border);

    &.preset-box {
        width: 350px;
    }

    .el-checkbox-group {
        .el-checkbox {
            display: flex;
            height: 43px;
            padding-left: 15px;
        }
    }
}

.base-ai-linkage-list {
    width: 100%;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 43px;
        text-align: center;
        width: 100%;
        font-size: 14px;
    }
}

.base-ai-not-support-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 567px;
    z-index: 3;
    font-size: 20px;
    background-color: var(--main-bg);
}

.base-ai-param-box {
    width: 100%;
    display: flex;

    &-left {
        width: 400px;
        padding: 0 100px 0 20px;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        overflow: hidden;

        .player {
            width: 400px;
            height: 300px;
        }

        &.fixed {
            position: absolute;
            top: 87px;
            z-index: 1;
            min-height: unset;
        }
    }

    &-right {
        width: 100%;
    }
}

.base-ai-tip {
    font-size: 12px;
    color: var(--main-text-light);
    margin-top: 5px;
}
