/*
 * @Author: yejiahao yejiahao@tvt.net.cn
 * @Date: 2024-09-06 10:35:28
 * @Description: 通道版块的一些公共样式，仅在需要用到的通道版块下引入
 */
.base-chl-box {
    width: 100%;
    height: var(--content-height);
    display: flex;
}

.base-chl-box-left {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.base-chl-box-player {
    width: 400px;
    height: 300px;
    flex-shrink: 0;
}

.base-chl-box-right {
    width: 100%;
    height: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.base-chl-icon-btn {
    flex-shrink: 0;
    background-color: var(--ptz-btn);
    border: 1px solid var(--ptz-btn);

    &:hover {
        background-color: var(--ptz-btn);
        border-color: var(--primary);
    }

    &.disabled {
        background-color: var(--ptz-btn-disabled);

        &:hover {
            border-color: var(--ptz-btn);
        }
    }

    & + & {
        margin-left: 5px;
    }
}

.base-chl-timepicker {
    .el-time-spinner__wrapper {
        max-height: 120px;
    }
}
