/*
 * @Author: yejiahao yejiahao@tvt.net.cn
 * @Date: 2024-05-29 13:48:55
 * @Description: UI1-J 主题样式
 * @LastEditors: yejiahao yejiahao@tvt.net.cn
 * @LastEditTime: 2024-09-25 14:57:26
 */

// 客户定制图标
#n9web {
    --img-login-content: url('@ui/publicStyle/img/LoginContent.png');
    --img-logo: url('@ui/publicStyle/img/appName.png');
    --img-login-btn: url('@ui/publicStyle/img/loginBtn.png');
    // --img-motion-note: url('@ui/publicStyle/img/motionNote.gif');
    // --img-loading: url('@ui/publicStyle/img/loading.gif');
    --img-initview: url('@ui/publicStyle/img/initview.gif');
}

// 主题色
#n9web {
    --primary--01: rgb(0, 188, 112);
    // --primary--02: #805B29;
    --primary--04: #00BC70;

    // 主Layout
    --text-primary: rgb(28, 31, 43); /* 文本主题色 */
    --page-bg: #FFF; /* 界面默认背景色 */
    --text-menu-01: rgb(28, 31, 43); /* 顶部菜单栏文本颜色 */
    --text-menu-01-hover: var(--primary--01);
    --border-color1: rgb(28, 31, 43); /* 主Layout, 以及Dialog、MessageBox、Notification等弹出框的Border颜色 */
    --border-color2: rgb(28, 31, 43); /* 页面上主要线框的颜色 */

    // 表单
    --text-sub-heading: #1c1f2b; /* 子标题颜色 */ 
    --bg-color4: #CBCBCB; /* 子标题背景色 */
    --text-input: rgb(28, 31, 43);
    --text-disabled: #888; /* 输入框、表格等禁用状态时的文本颜色 */
    // --text-placeholder: #a8abb2; /* placeholder颜色 */
    --text-active: #fff; /* 表格、dropdown、options、tab、menu等被高亮选中时的文本颜色 */
    --border-color7: rgb(28, 31, 43); /* 输入框、选择器等边框颜色 */
    --border-color-disabled: #888;
    --bg-color-disabled: #f0f0f0; /* 输入框等禁用的背景色 */
    --bg-color: var(--page-bg); /* Dialog、MessageBox、Notification等弹出框的背景色 */

    // 按钮
    --border-color4: #8f8f8f; /* 按钮边框颜色 */
    --border-color5: #aaa; /* 按钮hover边框颜色 */
    --border-color6: #ccc; /* 按钮禁用边框颜色 */
    --bg-color2: #8f8f8f; /* 按钮背景色 */
    --bg-color3: #aaa; /* 按钮hover的背景色 */
    --text-button: #fff; /* 按钮文本颜色 */
    --text-button-disabled: #fff; /* 按钮禁用时的文本颜色 */
    --bg-button-disabled: #ccc; /* 按钮禁用的背景色 */

    // 表格
    --table-text-disabled: #888; 
    --border-color8: #F0F0F0; /* 表格、网格边框颜色 */
    --bg-color5: #eee; /* 斑马线背景色（表单、表格） */
    --bg-table: #fff; /* 表格行背景色 */
    --bg-table-thead: #e5e5e5; /* 表格头背景色 */
    --bg-color-table-hover: #f7f7f7; /* 表格行hover背景色 */

    // 对话框
    --text-dialog: #1c1f2b; /* Dialog、MessageBox、Notification等弹出框的标题颜色 */
    --bg-dialog: var(--page-bg); /* 对话框背景色 */
    --bg-popover: #fff;
    
    // 功能面板页
    --text-menu-05: #1c1f2b; /* 功能面板 子菜单的文本颜色 */
    --text-menu-05-hover: var(--primary--04); /* 功能面板 子菜单的hover文本颜色 */ 
    --text-menu-04: #1c1f2b;
    --text-menu-04-hover: var(--primary--04); /* 功能面板 主菜单的hover文本颜色 */
    --bg-menu-04: unset;
    --bg-menu-04-hover: unset;
    --border-color3: rgb(28, 31, 43); /* 功能面板 菜单的线框颜色 */

    // 功能面板内页
    --text-menu-03: #1c1f2b; /* 配置页左侧菜单栏文本颜色 */
    --text-menu-03-hover: #1c1f2b;
    --text-menu-03-active: #fff;
    --text-nav: #1c1f2b; /* 面包屑颜色 */
    --bg-config-menu: unset; /* 配置页左侧菜单栏背景色 */
    --bg-color-cfg-menu-active: var(--primary--04);
    --bg-icon-btn: #fff;
    --bg-icon-btn-disabled: #fff;

    // 现场预览、回放的侧边栏面板
    --panel-header-bg: unset; /* 标题背景色 */
    --panel-header-text: rgb(28, 31, 43);
    --panel-header-text-02: rgb(28, 31, 43);
    --panel-menu-bg: #f0f2f3; /* 切换按钮背景色 */
    --panel-menu-bg-active: #fff; /* 切换按钮背景色 */
    --panel-bg: unset; /* 面板背景色 */
    --panel-btn-bg: #777;
    --panel-btn-bg-disabled: #B7B7B7;
    --panel-snap-history: #ffcc66;
    
    // 搜索与备份、智能分析、业务与应用
    --text-menu-active: #fff; /* 业务应用/搜索与备份等顶部与左侧菜单栏活跃状态字体颜色 */
    --text-menu-hover: #fff; /* 业务应用/搜索与备份等顶部与左侧菜单栏hover状态字体颜色 */
    --bg-thumbnail-card: #555; /* 按时间切片缩略图背景色 */
    --border-thumbnail-card: #555; /* 按时间切片缩略图边框颜色 */
    --bg-upload: #8F8F8F;
    --bg-upload-hover: #ddd;
    --border-dark: #000; /* 抓拍卡片的边框颜色 */

    // 停车场页面
    --parklog-label-text: #8d8d8d;
    --parklog-bg: #f0f2f3; /* 停车场页面背景色 */
    --parklog-box-bg: #d9d9d9; /* 停车场BOX背景色 */
    --parklog-title-bg: #cbcbcb;

    // 播放器
    --bg-player: #4c4c4b; /* 播放器背景色 */
    --border-player-split: #343434; /* 播放器分屏分割线颜色 */

    // 日历
    --calendar-bg: var(--page-bg);
    --calendar-header-bg: #f5f5f5; /* 日历头背景色 */
    --calendar-thead-bg: #d4d4d4; /* 日历表格头背景色 */
    --calendar-border: rgb(28, 31, 43);
    --calendar-bg-hover: #dfdfdf; /* 日期hover状态背景色 */
    --calendar-header-text: #1c1f2b;
    --calendar-text-disabled: #666; /* 日历上下月日期颜色 */

    // 半透明色
    // --bg-color-opacity1: rgba(255, 255, 255, 0.3); /* 半透明白色 */
    // --bg-color-opacity2: rgba(0, 0, 0, 0.5); /* 半透明黑色 */

    // 在线，离线颜色
    // --color-online: green;
    // --color-offline: red;

    // Error
    // --error--01: red;

    // 白色
    // --color-white: #ffffff;
    // --color-black: #000;

    // 滚动条
    // --scrollbar-track-bg: #f7f7f7; /* 滚动条轨道背景色 */
    // --scrollbar-track-border: #efefef; /* 滚动条轨道边框色 */
    // --scrollbar-thumb-bg: #e6e6e6; /* 滚动条thumb背景色 */
    // --scrollbar-thumb-border: #e0e0e0; /* 滚动条thumb边框色 */
    // --scrollbar-thumb-bg-hover: #d9d9d9; /* 滚动条thumb hover背景色 */
    // --scrollbar-thumb-bg-active: #c2c2c2; /* 滚动条thumb active背景色 */

    // 时间轴组件
    --timeline-legend-bg-color: #666; // 图例背景色

    // 时间轴组件颜色集1 （默认颜色集）
    // --timeline-bg-color-01: #555; // 画布背景色
    // --timeline-scale-line-color-01: #ccc; // 刻度线颜色
    // --timeline-scale-text-color-01: #eee; // 刻度字体线颜色
    // --timeline-split-line-color-01: #666; // 通道间的分割线颜色
    // --timeline-pointer-color-01: #409eff; // 指针颜色
    // --timeline-pointer-time-color-01: #59f957; // 指针显示的时间颜色
    // --timeline-moving-pointer-color-01: #888; // 鼠标跟随指针颜色
    // --timeline-moving-time-bg-color-01: rgba(0,0,0,.5); // 鼠标跟随时间背景色
    // --timeline-moving-time-text-color-01: #eee; // 鼠标跟随时间文本颜色
    // --timeline-range-mask-color-01: rgba(0, 187, 219, .5); // 时间范围遮罩颜色
    
    // 时间轴组件颜色集2 （搜索与备份页面的时间轴颜色）
    --timeline-bg-color-02: rgba(0, 0, 0, 0);
    --timeline-scale-line-color-02: rgb(28, 31, 43);
    --timeline-scale-text-color-02: rgb(28, 31, 43);
    --timeline-split-line-color-02: rgb(28, 31, 43);
    --timeline-pointer-color-02: rgb(0, 188, 112);
    --timeline-pointer-time-color-02: rgb(28, 31, 43);
    --timeline-moving-pointer-color-02: rgb(0, 188, 112);
    --timeline-moving-time-bg-color-02: rgba(0,0,0,.5);
    --timeline-moving-time-text-color-02: #fff;
    --timeline-range-mask-color-02: rgba(0, 188, 112, .5);

    // 条形图组件
    --barchart-text-color: black; // 条形图字体颜色
    // --barchart-line-color: #ac7e7e; // 条形图线条颜色
    // --barchart-color-01: #c94049; // 条形图矩形可选颜色1
    // --barchart-color-02: #10df63; // 条形图矩形可选颜色2

    // 排程
    --schedule-form-bg: transparent;
    --schedule-button: #1c1f2b; /* 排程按钮颜色 */
    --schedule-scale-color: #1c1f2b;
    --schedule-font: 11px Arial;
    --schedule-time-span-color: #00bc70;
    --schedule-time-span-selection-color: rgb(0, 188, 112);
    --schedule-time-span-bg-color: #fff;
}